@import '../variables.scss';

.virtual-reality {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  @media screen and (min-width: 1024px) {
    position: relative;
  }

  .image-container {
    margin: auto;

    @media screen and (min-width: 1024px) {
      margin: 0;
    }

    .image {
      @media screen and (min-width: 720px) {
        background-image: url(https://i.imgur.com/GsjBgP4.jpg);
      }
    }
  }

  .card-container {
    background-color: $White;
    text-align: center;

    @media screen and (min-width: 1024px) {
      position: absolute;
      padding: 60px 0 0 80px;
      width: 55%;
      right: 0px;
      bottom: -32px;
      text-align: left;
    }

    &__title {
      margin-top: 40px;
      margin-bottom: 10px;
      font-size: 3.3rem;
      font-weight: normal;
      color: $Black;
      text-transform: uppercase;

      @media screen and (min-width: 1024px) {
        font-size: 4.5rem;
        font-weight: 500;
      }

      span {
        @media screen and (min-width: 1024px) {
          display: block;
        }
      }
    }

    &__paragraph {
      padding: 10px;
      font-size: 1.7rem;
      line-height: 28px;
      color: $Very-Dark-Gray;
      font-weight: bold;
    }
  }
}